{% extends "anime_titles/base.html" %}
{% block title %}{{ title.title_name }}{% endblock %}
{% block content %}
<h1>{{title.title_name}}</h1>
<h3>{%for tag in title.tags.all%}<a href="#">{{tag}}</a>, {%endfor%}</h3>
<img src="{{title.poster}}">
<p>Рейтинг: {{title.rating}}</p>
{% if request.user.is_authenticated %}
<form method="POST" action="{% url 'anime_titles:rate_title' %}">
	{% csrf_token %}
	<p><label for="id_rating">Оценить:</label> <input type="number" name="rating" min="1" max="10" required id="id_rating"></p>
	<input type="hidden" name="title" value="{{title.id}}">
	<input type="submit" value="Оценить">
</form>
<form action="{% url 'anime_titles:add_title_to_list' %}" method="POST">
	{% csrf_token %}
	<p>
<label for="id_status">Статус:</label> <select name="status" id="id_status">
  <option value="WG">смотрю</option>

  <option value="WD">просмотренно</option>

  <option value="PL" selected>запланировано</option>

  <option value="DP">брошено</option>
</select></p>
	<p><label for="id_episode_count">Просмотренно эпизодов:</label> <input type="number" name="episode_count" value="0" required id="id_episode_count"></p>
	<input type="hidden" name="title" value="{{title.id}}" >
	<input type="submit" value="Добавить в список">	
</form>
{%endif%}
<br>
{% for episode in title.episode_set.all %}
<h2>{{episode.number}}</h2>
		{% for translation in episode.translation_set.all %}
				<h3>{{translation.author}}</h3>
				<iframe width="640" height="384" src="{{translation.url}}" frameborder="0" scrolling="no" allowfullscreen></iframe>
		{% endfor %}
{% endfor %}
{% endblock%}