{% extends "anime_titles/base.html" %}
{% block title %}{{ title.title_name }}{% endblock %}
{% block content %}
<h1>{{title.title_name}}</h1>
<h3>{%for tag in title.tags.all%}<a href="#">{{tag}}</a>, {%endfor%}</h3>
<img src="{{title.poster}}">
<br>
{% for episode in title.episode_set.all %}
<h2>{{episode.number}}</h2>
		{% for translation in episode.translation_set.all %}
				<h3>{{translation.author}}</h3>
				<iframe width="640" height="384" src="{{translation.url}}" frameborder="0" scrolling="no" allowfullscreen></iframe>
		{% endfor %}
{% endfor %}
{% endblock%}